.header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(35, 224, 133);
  color: white;
  line-height: 1.1;
  padding-left: 50px;
  margin-bottom: 120px;
}

.title {
  justify-content: flex-start;
  text-size-adjust: 50%;
  font-size: 3em;
  color: #f9f9f9;
}

.NewButton {
  margin-left: auto;
  justify-content: flex-end;
  /* width: 10%; */
  /* height: 40px; */
  width: 10%;
  height: 40px;
  text-size-adjust: 10%;
  margin-right: 100px;
  padding: 0 5px;
  font-size: 1em;
}
